<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fatturazione header</title>

    <!-- CSS relative to tmp -->
    <link href="../resources/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/stylesheets/custom.css" rel="stylesheet">
    <script src="../resources/javascripts/jquery-min.js"></script>
    <script src="../resources/javascripts/common.js"></script>
    <script>
      var page = new Page();
      $(document).ready(function () {
        page.numbered();
        //page.headerRepeat();
      });
    </script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="span4 offset8 right">
          <small>
            <%= dati_azienda.denominazione %> <span>pag. </span><span id="page"></span>/<span id="page-count"></span>
          </small>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="span6 offset3">
          <p class="center">
            <% if filtro.corrispettivi == 1 %>
              <strong><%= ["Report Corrispettivi ", ((filtro.al.blank? && filtro.al.blank?) ? "#{filtro.mese}/#{filtro.anno}" : "al #{filtro.al.to_s(:italian_date)}")].join(' ') %></strong><br /><br />
            <% else %>
              <strong><%= ["Report Dettaglio Iva ", ((filtro.al.blank? && filtro.al.blank?) ? "#{filtro.mese}/#{filtro.anno}" : "al #{filtro.al.to_s(:italian_date)}")].join(' ') %></strong><br /><br />
            <% end %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <table id="head" class="table table-head table-bordered table-condensed">
            <thead>
              <tr>
                <th style="width: 15%;" class="center">Data</th>
                <th style="width: 15%;" class="right">Totale corrispettivi</th>
                <% if filtro.corrispettivi == 1 %>
                  <% if aliquote.size == 1 %>
                    <% aliquote.each do |aliquota| %>
                      <th style="width: 70%;" class="right"><%= "Corrispettivi (#{Helpers::ApplicationHelper.percentage(aliquota.percentuale)})" %></th>
                    <% end %>
                  <% end %>
                  <% if aliquote.size == 2 %>
                    <% aliquote.each do |aliquota| %>
                      <th style="width: 35%;" class="right"><%= "Corrispettivi (#{Helpers::ApplicationHelper.percentage(aliquota.percentuale)})" %></th>
                    <% end %>
                  <% end %>
                  <% if aliquote.size == 3 %>
                    <% aliquote.each do |aliquota| %>
                      <th style="width: 23%;" class="right"><%= "Corrispettivi (#{Helpers::ApplicationHelper.percentage(aliquota.percentuale)})" %></th>
                    <% end %>
                  <% end %>
                  <% if aliquote.size > 3 %>
                      <th style="width: 70%;" class="right">Impossibile visualizzare correttamente gli importi: troppe aliqute</th>
                  <% end %>
                <% else %>
                  <% if aliquote.size == 1 %>
                    <% aliquote.each do |aliquota| %>
                      <th style="width: 35%;" class="right"><%= "Imponibile (#{Helpers::ApplicationHelper.percentage(aliquota.percentuale)})" %></th>
                      <th style="width: 35%;" class="right"><%= "Iva (#{Helpers::ApplicationHelper.percentage(aliquota.percentuale)})" %></th>
                    <% end %>
                  <% end %>
                  <% if aliquote.size == 2 %>
                    <% aliquote.each do |aliquota| %>
                      <th style="width: 20%;" class="right"><%= "Imponibile (#{Helpers::ApplicationHelper.percentage(aliquota.percentuale)})" %></th>
                      <th style="width: 15%;" class="right"><%= "Iva (#{Helpers::ApplicationHelper.percentage(aliquota.percentuale)})" %></th>
                    <% end %>
                  <% end %>
                  <% if aliquote.size == 3 %>
                    <% aliquote.each do |aliquota| %>
                      <th style="width: 13%;" class="right"><%= "Imp (#{Helpers::ApplicationHelper.percentage(aliquota.percentuale)})" %></th>
                      <th style="width: 10%;" class="right"><%= "Iva (#{Helpers::ApplicationHelper.percentage(aliquota.percentuale)})" %></th>
                    <% end %>
                  <% end %>
                  <% if aliquote.size > 3 %>
                      <th style="width: 70%;" class="right">Impossibile visualizzare correttamente gli importi: troppe aliqute</th>
                  <% end %>
                <% end %>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
