<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- CSS relative to tmp -->
    <link href="../resources/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/stylesheets/custom.css" rel="stylesheet">
    <script src="../resources/javascripts/jquery-min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <table id="report" class="table table-striped table-bordered table-condensed">
            <tbody>
              <% limit = (self.result_set_lstrep_costi.size >= self.result_set_lstrep_ricavi.size) ? self.result_set_lstrep_costi.size : self.result_set_lstrep_ricavi.size %>
              <% 0.upto(limit -1) do |indice| %>
                <tr>
                  <% if costi = self.result_set_lstrep_costi[indice] %>
                    <td style="width: 10%;" class="left"><div class="dontsplit"><%= costi[0] %></div></td>
                    <td style="width: 30%;" class="left"><div class="dontsplit"><%= costi[1] %></div></td>
                    <td style="width: 10%;" class="right"><div class="dontsplit"><%= Helpers::ApplicationHelper.currency(costi[2]) %></div></td>
                  <% else %>
                    <%= "<td />" * 3 %>
                  <% end %>
                  <% if ricavi = self.result_set_lstrep_ricavi[indice] %>
                    <td style="width: 10%;" class="left"><div class="dontsplit"><%= ricavi[0] %></div></td>
                    <td style="width: 30%;" class="left"><div class="dontsplit"><%= ricavi[1] %></div></td>
                    <td style="width: 10%;" class="right"><div class="dontsplit"><%= Helpers::ApplicationHelper.currency(ricavi[2]) %></div></td>
                  <% else %>
                    <%= "<td />" * 3 %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
