<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- CSS relative to tmp -->
    <link href="../resources/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/stylesheets/custom.css" rel="stylesheet">
    <script src="../resources/javascripts/jquery-min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <table id="report" class="table table-striped table-bordered table-condensed">
            <tbody>
              <% self.result_set_lstrep_scadenze.each do |riga| %>
                <tr>
                  <td style="width: 13%;" class="left"><div class="dontsplit"><%= riga[0] %></div></td>
                  <td style="width: 8%;" class="center"><div class="dontsplit"><%= riga[1] %></div></td>
                  <td style="width: 8%;" class="center"><div class="dontsplit"><%= riga[2] %></div></td>
                  <td style="width: 12%;" class="center"><div class="dontsplit"><%= (riga[3].is_a?(String) ? riga[3] : riga[3].to_s(:italian_date)) unless riga[3].nil? %></div></td>
                  <td style="width: 12%;" class="right"><div class="dontsplit"><%= Helpers::ApplicationHelper.currency(riga[4]) %></div></td>
                  <td style="width: 12%;" class="right"><div class="dontsplit"><%= Helpers::ApplicationHelper.currency(riga[5]) %></div></td>
                  <td style="width: 12%;" class="center"><div class="dontsplit"><%= (riga[6].is_a?(String) ? riga[6] : riga[6].descrizione) unless riga[6].nil? %></div></td>
                  <td style="width: 10%;" class="left"><div class="dontsplit"><%= riga[7].descrizione if riga[7] %></div></td>
                  <td style="width: 13%;" class="left"><div class="dontsplit"><%= riga[8] %></div></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
