<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- CSS relative to tmp -->
    <link href="../resources/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/stylesheets/custom.css" rel="stylesheet">
    <script src="../resources/javascripts/jquery-min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <table id="doc" class="table table-bordered table-condensed">
            <tbody>
              <% if configatron.attivita == Models::Azienda::ATTIVITA[:commercio] %>
                <% ns.righe_nota_spese.each do |riga| %>
                  <tr>
                    <td style="width: 50%;"><div class="dontsplit"><%= riga.descrizione %></div></td>
                    <td style="width: 10%;" class="center"><%= (riga.qta.zero?) ? '' : riga.qta.to_s %></td>
                    <td style="width: 15%;" class="right"><%= (riga.importo.zero?) ? '' : Helpers::ApplicationHelper.currency(riga.importo) %></td>
                    <% importo_t = nil
                      if riga.qta.zero?
                        importo_t = riga.importo unless riga.importo.zero?
                      else
                        importo_t = (riga.qta * riga.importo)
                      end
                    %>
                    <td style="width: 15%;" class="right"><%= (importo_t.nil?) ? '' :  Helpers::ApplicationHelper.currency(importo_t) %></td>
                    <td style="width: 10%;" class="center"><%= riga.aliquota.codice %></td>
                  </tr>
                <% end %>
              <% else %>
                <% ns.righe_nota_spese.each do |riga| %>
                  <tr>
                    <td style="width: 80%;"><div class="dontsplit"><%= riga.descrizione %></div></td>
                    <td style="width: 20%;" class="right">
                      <% if riga.importo_iva? %>
                        <%= Helpers::ApplicationHelper.currency(riga.importo) %>
                      <% else %>
                        <%= (riga.importo.zero?) ? '' : Helpers::ApplicationHelper.currency(riga.importo) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
